
@import "loader.css";
@import "index1.css";
@import "index2.css";
@import "index3.css";
@import "index4.css";
@import "index5.css";
@import "index6.css";

*
{
    font: 16px arial;
    color:#000;
    user-select: none;
    text-decoration: none;
	outline: none;
    border: none;
	margin: 0;
}

/* CSS LAYOUT  */

main
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}
#header, #footer
{
	background: #111;
    color:#eee;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#content
{
	background:url(../../rtx/c1.jpg) no-repeat;
    background-size:cover;
}
.copy
{
    color:#eee;
}

/* CSS LINKS */

a
{
	color: #eee;
	padding: 5px 10px;
	/* transition: all 1s; */
}
a:hover
{
	color:#22ccff;
	text-decoration: underline;
}

/* CSS PICTURE OR LOGO */
.center
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo
{
    padding-top: 20px;
    width:100px;
    height:100px;
}
.icon
{
    margin: 5px;
    width: 50px;
    height: 50px;
    border:2px outset transparent;
}
.icon:hover
{
    border: 2px outset #00c3ff;
}
.social
{
    padding: 20px;
}